<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%= project %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="styles/main.css"></link> 
    <script type="text/javascript" src="js/vendor/smaf.js"></script>
</head>

<body>

<h1><%= project %></h1>
<p><%= description %></p>
<p id="status"></p>

<script type="text/javascript">

    Smaf.ready(function() {
        console.log('Hello Smaf world!');
        document.getElementById('status').innerHTML = 'Smaf initialized!';
    });

    Smaf.init('<%= token %>');
</script>
</body>
</html>

